<!DOCTYPE HTML>
<!--
	Visualize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Visualize by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="./templated-visualize/assets/css/main.css" />
        
	</head>
	<body>
      
    
		<!-- Wrapper -->
			<div id="wrapper">

                <a href="/" style="text-decoration: none;">
                    <img class="mainimg"src="./img/main.png" alt="" style="width:100%;">
                </a> 
				<!-- Header -->
					<header id="header">
						<span class="avatar"><img src="./img/sa6.jpg" alt="" /></span>
						<h1>냐옹<strong>  나는 새키다냥</strong> 반갑냥</h1>
						<!-- <ul class="icons">
							<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon style2 fa-500px"><span class="label">500px</span></a></li>
							<li><a href="#" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
						</ul> -->
					</header>

				<!-- Main -->
					<section id="main">

						<!-- Thumbnails -->
							<section class="thumbnails">
								<div>
									<a href="./img/sa1.jpg">
										<img src="./img/sa1.jpg" alt="" />
										<h3>귀</h3>
									</a>
									<a href="./img/sa2.jpg">
										<img src="./img/sa2.jpg" alt="" />
										<h3>엽</h3>
									</a>
								</div>
								<div>
									<a href="./img/sa3.jpg">
										<img src="./img/sa3.jpg" alt="" />
										<h3>다</h3>
									</a>
									<a href="./img/sa4.jpg">
										<img src="./img/sa4.jpg" alt="" />
										<h3>우</h3>
									</a>
									<a href="./img/sa5.jpg">
										<img src="./img/sa5.jpg" alt="" />
										<h3>리</h3>
									</a>
								</div>
								<div>
									<a href="./img/sa6.jpg">
										<img src="./img/sa6.jpg" alt="" />
										<h3>새</h3>
									</a>
									<a href="./img/sa7.jpg">
										<img src="./img/sa7.jpg" alt="" />
										<h3>키</h3>
									</a>
								</div>
							</section>

					</section>

				<!-- Footer -->
					<footer id="footer">
						<p>&copy; Untitled. All rights reserved. Design: <a href="http://templated.co">TEMPLATED</a>. Demo Images: <a href="http://unsplash.com">Unsplash</a>.</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="./templated-visualize/assets/js/jquery.min.js"></script>
			<script src="./templated-visualize/assets/js/jquery.poptrox.min.js"></script>
			<script src="./templated-visualize/assets/js/skel.min.js"></script>
			<script src="./templated-visualize/assets/js/main.js"></script>

	</body>
</html>